@media screen and (min-width:200px) and (max-width:450px) {
    .hidder{
        display: none;
    }
}

.scroll-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }