@tailwind utilities;

@layer utilities {
  .input-style {
    @apply w-full p-2 rounded-md hover:text-gray-200 focus:text-gray-200  ;

  }
}

.man-woman {
  position: relative; /* Make sure the container is positioned relatively */
  width: 100%; /* Ensures the image fills its container horizontally */
  height: auto; /* Allows the image to adjust its height while maintaining aspect ratio */
}

.man-woman::before {
  content: "";
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: url(../images/man-woman.jpeg);
  background-position: right;
  background-size: cover;
  filter: brightness(60%); /* Adjust the brightness level as needed */
}

.glass{
  background: #ffffff83;
  background-filter: blur(5);
}